{% extends "base.html" %}
{% load static %}

{% block title %}Resetuj{% endblock %}
{% block static %} 
<link rel="stylesheet" href="{% static 'authentication/style_signup.css' %}">
{% endblock %}
{% block content %} 
<h2>Reset hasła</h2>
<div id="signup-form">
    <form method="post">
    {% csrf_token %}
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">Resetuj</button>
    </form>
</div>
{% endblock %}