{% extends "base.html" %}
{% load static %}

{% block title %}Resetuj{% endblock %}
{% block static %} 
<link rel="stylesheet" href="{% static 'authentication/style_signup.css' %}">
{% endblock %}
{% block content %} 
<h2>Wysłano reset hasła</h2>
<div id="signup-form">
    <p>Wysłaliśmy Ci e-mailem instrukcje dotyczące ustawiania hasła, jeśli istnieje konto z podanym adresem e-mail. Powinieneś je wkrótce otrzymać
    <br><br>Jeśli nie otrzymasz wiadomości e-mail, upewnij się, że wpisałeś adres, na który się zarejestrowałeś, i sprawdź folder ze spamem.</p>
</div>
{% endblock %}