
/*#########   login  #######*/
.login-div {
    background-color: black;
    width: 40%;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-div input[type="text"],
.login-div input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.login-div input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-div input[type="submit"]:hover {
    background-color: #45a049;
}

.standard-href {
    /* Add your standard styling for links with class 'standard-href' here */
    color: #007bff; /* Blue color, you can change this */
    text-decoration: none; /* Remove underline, you can customize this */
    /* Add more styles as needed */
}

.standard-href:hover {
    /* Define styles for the link on hover if needed */
    text-decoration: underline; /* Example: underline on hover */
    /* Add more styles as needed */
}