{% extends "base.html" %}
{% load static %}

{% block title %}{{username}}: Set_user{% endblock %}
{% block static %} 
<link rel="stylesheet" href="{% static 'authentication/style_login.css' %}">
{% endblock %}
{% block nav %}
<ul>
    <li><a href="{% url 'kolegium' %}">Kolegium</a></li>
    <li><a href="{% url 'set_user' %}">Dodaj Sędziego</a></li>
    <li><a href="{% url 'kolmecze' %}">Mecze</a></li>
    <li><a href="/logout">logout</a></li>
</ul>
{% endblock %}

{% block content %} 
<div class="login-div">
    <form action="set_user" method="post">
    {% csrf_token %}
        <label for="username">Indeks:</label><br>
        <input type="text" id="username" name="username" required><br>
        <input type="submit" value="Dodaj">
    </form> 
</div>
{% endblock %}