
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block static %}
    {% endblock %}
</head>
<body>

    <header>
        <nav>
            <div class="brand"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;<a>DZPN</a></div>
            <ul>
                {% block nav %}
                <li><a href="/signup">Rejestracja</a></li>
                <li><a href="/login">Login</a></li>
                {% endblock %} 
            </ul>
        </nav>
    </header>
    {% if messages %}
      <div class="messages" style="text-align: center;">
          {% for message in messages %}
            <p>
                {% if message.tags == "error" %}
                  <i class="fa fa-exclamation" aria-hidden="true"></i>
                  {% else %}
                  <i class="fa fa-check" aria-hidden="true"></i>
                {% endif %}
                &nbsp;{{message}}
            </p>
          {% endfor %}
      </div>
    {% endif %}
    <div id="content", name="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <a href="">Link To The Project</a>
    </footer>
    
</body>
</html>