{% extends "base.html" %}
{% load static %}

{% block title %}Wyniki{% endblock %}
{% block static %} 
<link rel="stylesheet" href="{% static 'referee/spr.css' %}">
{% endblock %}
{% block nav %}
    <li><a href="{% url 'referee' %}">Sędzia</a></li>
    <li><a href="{% url 'listameczy' %}">Mecze</a></li>
    <li><a href="{% url 'test' %}">Klipy</a></li>
    <li><a href="/logout">logout</a></li>
    
{% endblock %}

{% block content %}
<div class="klipy">
    <h2>Egzamin zakończony</h2>
    <p>Twój wynik: {{ wynik }} / 3</p>
    <p>{{ proc }}%</p>
</div>
{% endblock %}