{% extends "base.html" %}
{% load static %}

{% block title %}Telefon{% endblock %}
{% block static %} 
<link rel="stylesheet" href="{% static 'referee/spr.css' %}">
{% endblock %}
{% block nav %}
    <li><a href="{% url 'referee' %}">Sędzia</a></li>
    <li><a href="{% url 'listameczy' %}">Mecze</a></li>
    <li><a href="{% url 'test' %}">Klipy</a></li>
    <li><a href="{% url 'egzamin' %}">Test</a></li>
    <li><a href="/logout">logout</a></li>
    
{% endblock %}
{% block content %}
<div class="klipy">
     <h1>Edytuj nr telefonu </h1>
        <h2>numer w fomracie +48123456789</h2>
        <form method="post" action="{% url 'editusrphon' %}">
          {% csrf_token %}
          {{ form.as_p }}

          <button type="submit">Zapisz zmiany</button>
        </form>
</div>
{% endblock %}