{% extends "base.html" %}
{% load static %}
{% block title %}Klipy wideo{% endblock %}
{% block static %} 
<link rel="stylesheet" href="{% static 'referee/spr.css' %}">
{% endblock %}
{% block nav %}
    <li><a href="{% url 'referee' %}">Sędzia</a></li>
    <li><a href="{% url 'listameczy' %}">Mecze</a></li>
    <li><a href="{% url 'egzamin' %}">Test</a></li>
    <li><a href="/logout">logout</a></li>
{% endblock %}
{% block content %} 
<div class="klipy">

    <h1>Materiały szkoleniowe</h1>
    {% for wideo in klipy %}
        <h2>{{ wideo.name }}</h2>
        <h3>{{ wideo.description }}</h3>
        <video class="embed-responsive embed-responsive-16by9" controls="controls" >
            <source src="{{ wideo.video_source.url }}" type="video/mp4">
        </video>
    {% endfor %}


</div>
{% endblock %}