{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}
{% block static %} 
<link rel="stylesheet" href="{% static 'style_login.css' %}">
<script src="{% static 'js/login.js' %}"></script>
<link rel="stylesheet" href="{% static 'authentication/style_login.css' %}">
{% endblock %}
{% block nav %}
    <li><a href="home">Home</a></li>
    <li><a href="{% url 'signup' %}">Zarejestruj się</a></li>
{% endblock %}
{% block content %} 
<div class="login-div">
    <form action="login" method="post">
    {% csrf_token %}
        <label for="username">Indeks:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Hasło:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <label for="2fa_code">2Fa code</label><br>
        <input type="text" id="fa_code" name="fa_code" pattern="\d*" placeholder="nnnnnn" oninput="aktualizujPole()" required>
        <a class = "standard-href" href="{% url 'reset_password' %}">Reset hasła</a>
        <input type="submit" value="Zaloguj się">
    </form> 
</div>
{% endblock %}